doctype
//if lt IE 7
  <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
  <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
  <html class='no-js lt-ie9'>
//[if gt IE 8]><!
html.no-js(ng-app='#{ngApp}')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:400italic,400,700,300')
    link(rel='stylesheet', type='text/css', href='/common/css/foundation.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css')
    link(rel='stylesheet', type='text/css', href='/common/css/main.css')
    link(rel='stylesheet', type='text/css', href='/#{assetPath}/css/main.css')
    script(type='text/javascript', src='/common/js/vendor/modernizr.js')
    block headerScripts

  body
    block header

    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
        | to improve your experience.

    block content

    block footer

    //if lt IE 9
        script(type='text/javascript', src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js')

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/swipe/2.0/swipe.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.10/fastclick.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js')
    script(type='text/javascript', src='/components/ngprogress/build/ngProgress.min.js')
    script(type='text/javascript', src='/components/foundation/js/foundation.min.js')
    script(type='text/javascript', src='/common/js/utility.js')
    script(type='text/javascript', src='/#{assetPath}/js/main.js')

    block footerScripts

    <!-- @if production=false -->
    script(type='text/javascript', src='/#{assetPath}/js/angular/controllers/controllers.js')
    script(type='text/javascript', src='/#{assetPath}/js/angular/filters/filters.js')
    script(type='text/javascript', src='/#{assetPath}/js/angular/services/services.js')
    script(type='text/javascript', src='/#{assetPath}/js/angular/app.js')
    <!-- @endif -->

    <!-- @if production=true -->
    script(type='text/javascript', src='/#{assetPath}/js/angular/app.js')
    <!-- @endif -->


    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');